.gridWrapper{
    width: calc(100% - 25em);
    height: auto;
}
.gridArea{
    width: auto;
    padding: 3em;
}
.headingArea{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

.headingArea svg{
    cursor: pointer;
}