.sidebarWrapper{
    width: 25em;
    background-color: #2e2e2e;
    color: #ffffff;
    height: 100%;
}
.sidebarArea{
    padding: 3em;
    height: calc(100% - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarMain{
    justify-self: flex-start;
}

.sidebarBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}